h1 {
    text-align: center;
    font-family: Tahoma;
    font-size: 3em;
    font-style: italic;
    color:white;
    border-style: groove;
    }
    
    .center {display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
    h2 {
    text-align: left;
    font-family: Tahoma;
    font-style: italic;
    color:white;
    font-size: 1.5em;
    }
    
    h3 {
        text-align: center;
    font-family: Tahoma;
    font-size: 1.2em;
    font-style: italic;
    color:white; 
    }
    
    h4 {
    text-align: center;
    color:white;
    font-style: italic;
    font-family: Arial;
    font-size: 13px;
    }
    
    h5 {
    text-align: left;
    font-family: Tahoma;
    font-style: italic;
    color:white;
    font-size: 1.5em;
    }
    
    h6 {
          text-align: left;
    font-family: Tahoma;
    font-style: italic;
    color:white;
    font-size: 1.5em;
    }
    
     body {background: #23395d;}
     
   p {
       color: white;
       font-family: Arial;
        text-align: left;
        font-style: italic;
     }
    
     .Academy {
     background-color: rgb(226, 255, 255);
     padding: 1px;
     clear: both;
      color:navy;
        }
        
    .Clubs{
    text-align: left;
    font-family: Tahoma;
    font-style: italic;
    color:white;
    font-size: 1.5em;
    }
    
    .Tuff {
        color:White;
          }
h1 {
     text-align: center;
    font-family: Tahoma;
    font-size: 3em;
    font-style: italic;
    color:white;
    border-style: groove;
}
    
    h2 {
         text-align: center;
    font-family: Tahoma;
    font-size: 25px;
    font-style: italic;
    color:white;
    }
    
    h3 {
        font-family: Tahoma;
    font-size: 25px;
    font-style: italic;
    color:white;
        position:relative;
    left:8px;
    }
    
    h4 {
        text-align: center;
    font-family: Tahoma;
    font-size: 15px;
    color:white;
    }
    
    h5{
        font-family: Tahoma;
    font-size: 25px;
    font-style: italic;
    color:white;
    }
    
    h6{
         text-align: center;
    font-family: Tahoma;
    font-size: 25px;
    font-style: italic;
    color:white;
    }
    
    .keane {
        border-style: groove;
    }
    
    .Roster {
         color:white;
    }
    
    .Roster2 {
        color: white;
        position: relative;
        left: 750px;
        top: -260px;
    }
    
.Roster3{
     color: white;
        position: relative;
        top:-250px;
        
}
